@import url(https://fonts.googleapis.com/css?Raleway:400);

body {
	background-color: #222b33;

	font-family: 'Raleway', 'Helvetica Neue', Helvetica, 'Trebuchet MS', 'Verdana', Arial, sans-serif;
	text-align: center;

	color: #fff;
}

h1 {
	color: #00d2ff;
}

h2 {
	cursor: pointer;
}
